.menu
{
	list-style-type: none;
}

#content_left
{
	float: left;
	display: block;
	width: 12%;
	padding-left: 2%;
	padding-top: 3%;
	list-style-type: none;
}
#content_right
{
	float: left;
	display: block;
	width: 83%;
	
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: thin;
	
	padding-left: 2%;
}