#bg 
{
	position: absolute;
	top: 0;
	left: 0;
	
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	z-index: 0;
}

.navigation
{
	position: absolute;
	left: 15%;
	z-index: 1;
	
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: thin;
	
	text-decoration : none;
	color:#919191;
}

#beranda
{
	top: 28%;
}

#asrama
{
	top: 32%;
}

#kontak
{
	top: 36%;
}

#login
{
	top : 40%;
}