#bg 
{
	position: absolute;
	top: 0;
	left: 0;
	
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	z-index: 0;
}

.navigation
{
	position: absolute;
	left: 15%;
	z-index: 1;
	
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: thin;
	
	text-decoration : none;
	color:#919191;
}

#ajuan
{
	top: 28%;
}

#presensi
{
	top: 32%;
}

#tugas
{
	top: 36%;
}

#ubah
{
	top: 40%;
}

#logout
{
	top : 44%;
}

#notif
{
	position: absolute;
	z-index: 1;
	left: 34%;
	top: 18%;
	color: #FFFFFF;
}

#judul_berita
{
	position: absolute;
	z-index: 1;
	left: 30%;
	top: 28%;
}

#isi_berita
{
	position: absolute;
	z-index: 1;
	left: 30%;
	top: 34%;
}